@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body{
    background-color: lightgreen;
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url(../img/trianglify.png);
    background-position: center;

}

P{
    margin:0;
    padding: 0;
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 1px 1px 10px lightblue;
}

.header-ul-list{
    display: flex;
    justify-content: space-around;
    width: 200px;
    border-style:solid;
    border-radius: 15px;
    border-width: 2px;
    border-color: lightblue;
    overflow: hidden;
    margin-right: 10px;
    margin-left: 10px;
    padding: 3px 6px 3px 6px;
}

#header-img{
    padding: 4px 0px 0px 20px; 

}
.nav-link{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

img{
    min-width: 100px;
    width: 100px;

}

.top-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-section p{
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 8px;
    text-align: center;
    align-self: center;
    margin-top:5rem;
}



input{
    color: black;
    text-align: center;
    
}
#customer-email-id{
    font-weight: bold;
    padding: 8px;
    background: lightblue;
    border-style: solid;
    border-color: white;
    border-radius: 30px;
    width: 200px;
}
#submit{
    box-shadow: 2px 1px 2px lightseagreen;
    margin-left: 10px;
    margin-bottom: 20px;
    width: 70px;
    padding: 6px 50px 6px 20px;
    font-weight: bold;
    font-size: 0.9rem;
    border-style: solid;
    border-radius: 30px;
    border-color: white;
    text-align: center;
    margin-top: 8px;
    background:linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.description p{
    margin: 0;
    padding: 0;
}
.description h1{
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
}

.description-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}

.description{
    width: 80vw;
    max-width: 800px;
    text-align: center;
    padding: 10px;
    margin:20px 10px 30px 10px;
    background: lightblue;
    border-radius: 20px;
    overflow: hidden;
}

@media (max-width: 391px){
   header{
       display: flex;
       flex-direction: column;
   } 
   #header-img{
       padding: 0;
       padding-top: 10px;
   }
   .header-ul-list{
       display: flex;
       align-items: center;
       justify-content: space-around;
       width: 80vw;
       flex-basis: 1px; 
       padding: 3px 6px 3px 6px;;
       border-style:solid;
       border-radius: 15px;
       border-width: 2px;
       overflow: hidden;
   }
   .nav-link{
       padding-bottom: 3px;
       align-self: center;
   }
   .email-form{
       display: flex;
       flex-direction: column;
       align-items: center;
   }
   #submit{
       width:80vw;
       padding: 6px 0 6px 0;
   }
   #customer-email-id{
       width: 87vw;
   }
   .top-section p{
       font-size: 1.7em;
       margin-bottom: 20px;
       margin-top: 5.3em;
   }
   @media (max-width: 230px){
    .header-ul-list{
        display: flex;
        flex-direction: column; 
   }
}