@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body{
    background-color: #ff7700;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d6002b' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b10022' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d9004b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b2003d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d3006c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ac0057' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c4008c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%239e0071' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Source Sans Pro', sans-serif;

}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #FF7700;
    box-shadow: 0.1px 0.1px 1px;
}

.header-ul-list{
    display: flex;
    justify-content: space-around;
    padding-right: 40px;
    width: 200px;
}

#header-img{
    padding: 4px 0px 0px 20px; 

}
.nav-link{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

img{
    min-width: 100px;
    width: 100px;

}

.top-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-section p{
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 8px;
    text-align: center;
    align-self: center;
    margin-top:5rem;
}



input{
    color: black;
    text-align: center;
    box-shadow: 2px 1px 2px;
}
#customer-email-id{
    font-weight: bold;
    padding: 8px;
    background: orange;
    border-style: solid;
    border-radius: 2px;
    border-color: white;
    border-radius: 10px;
    width: 200px;
}
#submit{
    margin-left: 10px;
    width: 70px;
    padding: 6px 50px 6px 20px;
    font-weight: bold;
    font-size: 0.9rem;
    border-style: solid;
    border-radius: 30px;
    border-color: white;
    text-align: center;
    margin-top: 8px;
    background:linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.description p{
    margin: 0;
    padding: 0;
}
.description h1{
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
}

@media (max-width: 391px){
   header{
       display: flex;
       flex-direction: column;
   } 
   #header-img{
       padding: 0;
       padding-top: 10px;
   }
   .header-ul-list{
       display: flex;
       flex-direction: column;
       align-items: center;
       flex-basis: 1px;
       padding: 0;
       border-style:solid;
       width: 50vw;
       border-radius: 15px;
       border-width: 2px;
       border-color: purple;
       overflow: hidden;
   }
   .nav-link{
       padding-bottom: 3px;
       align-self: center;
   }
   .email-form{
       display: flex;
       flex-direction: column;
       align-items: center;
   }
   #submit{
       width:80vw;
       padding: 6px 0 6px 0;
   }
   #customer-email-id{
       width: 87vw;
   }
   .top-section p{
       font-size: 1.7em;
       margin-bottom: 20px;
       margin-top: 5.3em;
   }
